# GitHub
GH_PAT=github_pat_xxxxxxxx

# Cloudflare (Account ID: 2b67d2288df946ac22f408b60a9bcc11)
CF_API_TOKEN=xxxxxxxx
CF_ACCOUNT_ID=2b67d2288df946ac22f408b60a9bcc11

# Resend (for Phase 2 email domain upgrades)
RESEND_MASTER_KEY=re_xxxxxxxx
